[ v3_ca ] 
subjectKeyIdentifier	= hash 
authorityKeyIdentifier	= keyid:always,issuer:always 
nsComment	 	= "V3-CA Certificate"
basicConstraints 	= CA:true 
keyUsage 		= cRLSign, keyCertSign 

[ usr_cert ] 
basicConstraints	= CA:FALSE 
nsComment	 	= "User Certificate" 
subjectKeyIdentifier	= hash 
authorityKeyIdentifier	= keyid,issuer
