
    <div class="jumbotron text-center">

      <h1>Change Password</h2>
      </div> <!-- /container -->

      <div class="container">
        <form method="post" class="form-horizontal">
          
          
            <div class="form-group">
              <label for="inputPassword" class="col-sm-2 control-label">Current Password</label>
              <div class="col-sm-10">
                  <input type="password" id="CUrrentPassword" class="form-control" placeholder="Current Password" required ng-model="password.curr_passwd">
              </div>
            </div>

             <div class="form-group">
              <label for="inputPassword" class="col-sm-2 control-label">New Password</label>
              <div class="col-sm-10">
                  <input type="password" id="NewPassword" class="form-control" placeholder="New Password" required ng-model="password.new_passwd">
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword" class="col-sm-2 control-label">Confirm Password</label>
              <div class="col-sm-10">
                  <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm Password" required ng-model="password.confirm_passwd">
              </div>
            </div>

            <div class="checkbox">
              <label class="col-sm-6 control-label"><input type="checkbox" value="true" ng-model="password.flag"> Send the new password to an e-mail address ?</label>
            </div>

             <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <br />
                  <button class="btn btn-lg btn-primary" type="submit" ng-click ="submit()">Submit</button>
                  <button class="btn btn-lg btn-primary" type="submit" ng-click ="cancle()">Cancle</button>
              </div>
           </div>
        </form>
      </div>