<!-- about.html -->
<style>
.selected{
	background-color: black;
	color: white;
	font-weight: bold;
}
</style>
	<div class="jumbotron text-center">
		<h1>Download Your PHR Page</h1>
	</div>

	<form method="post" class="form-horizontal" ng-show="isClick == false">
		<div class="form-group row">
			<label class="col-sm-3 control-label">Search </label>
								
			<p class="col-sm-2 form-control-static">Authority :</p>
								
			<div class="col-sm-7"> 
				<select class="form-control" ng-model="selectedAuthority" ng-options="authority for authority in authorityList" ></select> 
			</div>							
		</div>
		<div class="form-group row" >
								
			<p class="col-sm-offset-3 col-sm-2 form-control-static">Username :</p>
								
			<div class="col-sm-7"> 
				<input type="text" id="Username" class="form-control" placeholder="Username" ng-model="username">
			</div>				

			<div class="col-sm-offset-5 col-sm-3"> 
				<button class="btn btn-info" type="submit" ng-click="search()"> SEARCH </button>
			</div>				
			
		</div>
	</form>

	<form method="post" class="form-horizontal" ng-show="canDownload == true">
        
 		<table class="table table-bordered" >
			<tr>
				<th>Data description</th>
				<th>Size</th>
				<th>Confidentiality level</th>
			</tr>
			<tr ng-repeat="item in phr_list" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
				<td>{{item[0]}}</td>
				<td>{{item[1]}}</td>
				<td>{{item[2]}}</td>
			</tr>
		</table>

           <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <br />
              	<button class="btn btn-lg btn-primary" type="submit" ng-click ="download()">Download</button>
            </div>
         </div>
    </form>

     <h2 ng-if="isClick == true" class="col-sm-12">Wait for encryp and upload file to phr server . . . . </h2>
     <button class="btn btn-lg btn-danger col-sm-offset-3 col-sm-3"  ng-if="isClick == true" ng-click ="cancel()">Cancel</button>

