
    <div class="jumbotron text-center">

      <h2>LOGIN</h2>
    </div> <!-- /container -->

      <form method="post" class="form-horizontal">
        
        <div class="form-group">

            <label for="inputUsername" class="col-sm-2 col-centered control-label center-block">Username</label>
            <div class="col-sm-10 col-centered center-block">
                <input type="text" id="inputUsername" class="form-control" placeholder="Username"  autofocus ng-model="user.username">
            </div>
        </div>

           <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password"  ng-model="user.password">
            </div>
          </div>

           <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="radio" value="Admin" ng-model="user.type">Admin
                </label>
               <br />
                <label>
                  <input type="radio" value="User" ng-model="user.type">User
                </label>
              </div>
              <br />
              <button class="btn btn-lg btn-primary" type="submit" ng-click ="login()">Sign in</button>
              <button class="btn btn-lg btn-danger" type="submit" ng-click ="forget_pwd()">Forget Password</button>
            </div>
         </div>
      </form>
