
    <div class="jumbotron text-center">

      <h2>Admin register</h2>
      </div> <!-- /container -->

      <div class="container">
        <form method="post" class="form-horizontal">
          
            <div class="form-group">
              <label  class="col-sm-2 control-label">Username: </label>
              <div class="col-sm-10">
                  <input type="text" id="name" class="form-control" placeholder="Username" required ng-model="username">
              </div>
            </div>

            <div class="form-group">
              <label  class="col-sm-2 control-label">E-mail address : </label>
              <div class="col-sm-10">
                  <input type="text" id="name" class="form-control" placeholder="Email Address" required ng-model="email">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <br />
                  <button class="btn btn-success" type="submit" ng-click ="submit()">Submit</button>
                  <a href="/#/admin/adminmanagement" class="btn btn-info" role="button"> Back</a>
              </div>
           </div>
        </form>
      </div>