<!-- home.html -->
<style>
.selected{
	background-color: gray;
	color: black;
	font-weight: bold;
}

</style>

	<div class="jumbotron text-center">
		<h1>User Management Page</h1>
	</div>

	<div class="container-fluid">
		<tree-grid tree-data="tree_data" col-defs= "col_defs" on-select = "my_tree_handler(branch)" on-click = "my_tree_handler(branch)"></tree-grid>

		<button class="btn btn-lg btn-default" type="button" ng-click ="register()">Register</button>
        <button class="btn btn-lg btn-success" type="button" ng-click ="edit()" ng-if="isEdit()" >Edit</button>
        <button class="btn btn-lg btn-info" type="button" ng-click ="resetPwd()" ng-if="isResetPwd()" >Reset Password</button>
        <button class="btn btn-lg btn-danger" type="button" ng-click ="remove()">Remove</button>
	</div>
	
