<!-- about.html -->
<style>
.selected{
	background-color: black;
	color: white;
	font-weight: bold;
}
</style>
	<div class="jumbotron text-center">
		<h1>Download Your PHR Page</h1>
	</div>

	<form method="post" class="form-horizontal" ng-show="canDownload == true">
        
 		<table class="table table-bordered" >
			<tr>
				<th>Name</th>

			</tr>
			<tr ng-repeat="item in phr_list" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
				<td>{{item[0]}}</td>
			</tr>
		</table>

           <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <br />
              	<button class="btn btn-lg btn-primary" type="submit" ng-click ="download()">Download</button>
            </div>
         </div>
    </form>

     <h2 ng-if="isClick == true" class="col-sm-12">Wait for encryp and upload file to phr server . . . . </h2>
     <button class="btn btn-lg btn-danger col-sm-offset-3 col-sm-3"  ng-if="isClick == true" ng-click ="cancel()">Cancel</button>

